<section id="projects">
<div class="container">
  <h3>{{ page.title }}</h3>
  <div class="panel panel-default">
    <div class="panel-body">
        <h5>
            <strong><a href="https://youtu.be/UY3wxjk2o6o">Promptly Evaluating Prompts with Bayesian Tournaments | PyData Amsterdam 2023</a></strong>
        </h5>
        <p>
          Pick your next hot LLM prompt using a Bayesian tournament! Get a quick LLM dopamine hit with a side of decision theory vegetables. It's Bayesian Thunderdome: many prompts enter, one prompt leaves.

          How do you chose the best LLM prompt systematically beyond guessing and vibes? Use the winner of a Bayesian tournament! Get a quick dopamine hit from fun LLM prompt magic with a side of Bayesian decision theory vegetables. If you are doing stuff with LLMs — you'll get a serious tool to improve your prompting game. If you're not using LLMs — you'll learn about Bayesian tournaments. They are not well known but have wide applicability: they help you optimally choose a winner using a minimal number of matches.
        </p>
        <h5>
            <strong><a href="https://youtu.be/CecuWGpoztw">Bayesian Programming with JAX + NumPyro — Andy Kitchen</a></strong>
        </h5>
        <p>
            Andy Kitchen gives a short tutorial on Bayesian modelling with JAX and NumPyro (and ArviZ) using a continuous change point example

            Recorded from the Melbourne Machine Learning and AI Meetup, August 2020 event.
        </p>
        <p>
            <a href="https://youtu.be/CecuWGpoztw">video</a> | 
            <a href="https://github.com/andykitchen/numpyo-examples/blob/master/sigmoid-changepoint.ipynb">notebook</a>
        </p>

        <h5>
            <strong><a href="https://yowconference.com/talks/andy-kitchen/yow-lambda-jam-2019/meta-quines-9725/
">Meta-quines II</a></strong>
        </h5>
        <p>
            A quine is a program that outputs its own source code, but can you create a 2 quine, a pair of programs that output each other with an A->B->A->B cycle? What about between different languages? Can you gzip your own source code? Is there a structured way to do this with theory? All these questions will be somewhat answered, in ways that will make your head hurt... math-a-magical demos and over 9000 layers of meta-ness await!
        </p>
        <p>
            <a href="https://yowconference.com/talks/andy-kitchen/yow-lambda-jam-2019/meta-quines-9725/">video</a>
        </p>

        <h5>
            <strong><a href="http://andy.kitchen/oscon/">OSCON 2016: Abracada-BRAIN!</a></strong>
        </h5>
        <p>How do you build a brain? Presented at O'Reilly OSCON 2016 in Austin TX</p>
        <p>
            <a href="http://andy.kitchen/oscon/">slides</a>
        </p>

        <h5>
            <strong><a href="http://github.com/andykitchen/quine-talk">Meta-quines</a></strong>
        </h5>
        <p>Zany stuff with programs that make quines</p>
        <p>
            <a href="https://github.com/andykitchen/quine-talk/blob/master/presentation.pdf">slides</a> |
            <a href="https://katch.me/AthulaBogoda/v/b91d2301-5f4f-3c35-b790-34124441f4ac">video</a>
        </p>

        <h5>
            <strong><a href="http://github.com/andykitchen/principles-of-flight">Principles of Flight</a></strong>
        </h5>
        <p>My talk at the inaugural MLAI Meetup</p>
        <p>
            <a href="http://live.andy.kitchen/principles-of-flight">slides</a> |
            <a href="http://youtu.be/LLcg4Ztl_-I">video</a>
        </p>
    </div>
  </div>
</div>
</section>
