<section id="projects">
<div class="container">
  <h3>{{ page.title }}</h3>
  <div class="panel panel-default">
    <div class="panel-body">
        <h5>
            <strong><a href="http://github.com/andykitchen/quine-talk">Meta-quines</a></strong>
        </h5>
        <p>
            Zany stuff with programs that make quines<br>
            <a href="https://github.com/andykitchen/quine-talk/blob/master/presentation.pdf">slides</a> |
            <a href="https://katch.me/AthulaBogoda/v/b91d2301-5f4f-3c35-b790-34124441f4ac">video</a>
        </p>

        <h5>
            <strong><a href="http://github.com/andykitchen/principles-of-flight">Principles of Flight</a></strong>
        </h5>
        <p>
            My talk at the inaugural MLAI Meetup<br>
            <a href="http://live.andy.kitchen/principles-of-flight">slides</a> |
            <a href="http://youtu.be/LLcg4Ztl_-I">video</a>
        </p>
    </div>
  </div>
</div>
</section>